esempioWCF-DB/TEST-APP/Connected Services/ServiceReferenceMovimenti/ServiceMovimenti.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMovimenti" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceMovimenti/ServiceMovimenti/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceMovimenti/ServiceMovimenti/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceMovimenti/ServiceMovimenti/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServerDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMovimenti_GetListaMovimenti_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListaMovimenti" />
  </wsdl:message>
  <wsdl:message name="IServiceMovimenti_GetListaMovimenti_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListaMovimentiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMovimenti_CheckImporto_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckImporto" />
  </wsdl:message>
  <wsdl:message name="IServiceMovimenti_CheckImporto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckImportoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMovimenti_EseguiBonifico_InputMessage">
    <wsdl:part name="parameters" element="tns:EseguiBonifico" />
  </wsdl:message>
  <wsdl:message name="IServiceMovimenti_EseguiBonifico_OutputMessage">
    <wsdl:part name="parameters" element="tns:EseguiBonificoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMovimenti_EseguiPrelievoDenaro_InputMessage">
    <wsdl:part name="parameters" element="tns:EseguiPrelievoDenaro" />
  </wsdl:message>
  <wsdl:message name="IServiceMovimenti_EseguiPrelievoDenaro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EseguiPrelievoDenaroResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMovimenti_EseguiDeposito_InputMessage">
    <wsdl:part name="parameters" element="tns:EseguiDeposito" />
  </wsdl:message>
  <wsdl:message name="IServiceMovimenti_EseguiDeposito_OutputMessage">
    <wsdl:part name="parameters" element="tns:EseguiDepositoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceMovimenti">
    <wsdl:operation name="GetListaMovimenti">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMovimenti/GetListaMovimenti" message="tns:IServiceMovimenti_GetListaMovimenti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMovimenti/GetListaMovimentiResponse" message="tns:IServiceMovimenti_GetListaMovimenti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckImporto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMovimenti/CheckImporto" message="tns:IServiceMovimenti_CheckImporto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMovimenti/CheckImportoResponse" message="tns:IServiceMovimenti_CheckImporto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EseguiBonifico">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMovimenti/EseguiBonifico" message="tns:IServiceMovimenti_EseguiBonifico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMovimenti/EseguiBonificoResponse" message="tns:IServiceMovimenti_EseguiBonifico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EseguiPrelievoDenaro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMovimenti/EseguiPrelievoDenaro" message="tns:IServiceMovimenti_EseguiPrelievoDenaro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMovimenti/EseguiPrelievoDenaroResponse" message="tns:IServiceMovimenti_EseguiPrelievoDenaro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EseguiDeposito">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMovimenti/EseguiDeposito" message="tns:IServiceMovimenti_EseguiDeposito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMovimenti/EseguiDepositoResponse" message="tns:IServiceMovimenti_EseguiDeposito_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceMovimenti" type="tns:IServiceMovimenti">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListaMovimenti">
      <soap:operation soapAction="http://tempuri.org/IServiceMovimenti/GetListaMovimenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckImporto">
      <soap:operation soapAction="http://tempuri.org/IServiceMovimenti/CheckImporto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EseguiBonifico">
      <soap:operation soapAction="http://tempuri.org/IServiceMovimenti/EseguiBonifico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EseguiPrelievoDenaro">
      <soap:operation soapAction="http://tempuri.org/IServiceMovimenti/EseguiPrelievoDenaro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EseguiDeposito">
      <soap:operation soapAction="http://tempuri.org/IServiceMovimenti/EseguiDeposito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMovimenti">
    <wsdl:port name="BasicHttpBinding_IServiceMovimenti" binding="tns:BasicHttpBinding_IServiceMovimenti">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceMovimenti/ServiceMovimenti/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>