esempioWCF-DB/TEST-APP/Connected Services/ServiceReferenceAccountPersona/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceAccountPersona/ServiceAccountPersona/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServerDB" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPrivilegiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaPersone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idFiliale" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaPersoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="GetListaPersoneResult" nillable="true" type="q1:ArrayOfPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="CheckUsernameResult" nillable="true" type="q2:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codiceFiscale" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="GetPersonaResult" nillable="true" type="q3:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="persona" nillable="true" type="q4:Persona" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AggiungiPersonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="persona" nillable="true" type="q5:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificaPersonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdFilialeByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdFilialeByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdFilialeByUsernameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>