esempioWCF-DB/TEST-APP/Connected Services/ServiceReferenceAccountPersona/ServiceAccountPersona.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAccountPersona" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceAccountPersona/ServiceAccountPersona/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceAccountPersona/ServiceAccountPersona/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceAccountPersona/ServiceAccountPersona/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServerDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAccountPersona_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_GetPrivilegi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivilegi" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_GetPrivilegi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivilegiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_GetListaPersone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListaPersone" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_GetListaPersone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListaPersoneResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_EliminaAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_EliminaAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_CheckUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUsername" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_CheckUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_GetPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersona" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_GetPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_AggiungiPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiPersona" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_AggiungiPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_ModificaPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificaPersona" />
  </wsdl:message>
  <wsdl:message name="IServiceAccountPersona_ModificaPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAccountPersona">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccountPersona/Login" message="tns:IServiceAccountPersona_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccountPersona/LoginResponse" message="tns:IServiceAccountPersona_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrivilegi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccountPersona/GetPrivilegi" message="tns:IServiceAccountPersona_GetPrivilegi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccountPersona/GetPrivilegiResponse" message="tns:IServiceAccountPersona_GetPrivilegi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListaPersone">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccountPersona/GetListaPersone" message="tns:IServiceAccountPersona_GetListaPersone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccountPersona/GetListaPersoneResponse" message="tns:IServiceAccountPersona_GetListaPersone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccountPersona/EliminaAccount" message="tns:IServiceAccountPersona_EliminaAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccountPersona/EliminaAccountResponse" message="tns:IServiceAccountPersona_EliminaAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccountPersona/CheckUsername" message="tns:IServiceAccountPersona_CheckUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccountPersona/CheckUsernameResponse" message="tns:IServiceAccountPersona_CheckUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccountPersona/GetPersona" message="tns:IServiceAccountPersona_GetPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccountPersona/GetPersonaResponse" message="tns:IServiceAccountPersona_GetPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiungiPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccountPersona/AggiungiPersona" message="tns:IServiceAccountPersona_AggiungiPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccountPersona/AggiungiPersonaResponse" message="tns:IServiceAccountPersona_AggiungiPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAccountPersona/ModificaPersona" message="tns:IServiceAccountPersona_ModificaPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAccountPersona/ModificaPersonaResponse" message="tns:IServiceAccountPersona_ModificaPersona_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAccountPersona" type="tns:IServiceAccountPersona">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceAccountPersona/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrivilegi">
      <soap:operation soapAction="http://tempuri.org/IServiceAccountPersona/GetPrivilegi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaPersone">
      <soap:operation soapAction="http://tempuri.org/IServiceAccountPersona/GetListaPersone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaAccount">
      <soap:operation soapAction="http://tempuri.org/IServiceAccountPersona/EliminaAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUsername">
      <soap:operation soapAction="http://tempuri.org/IServiceAccountPersona/CheckUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersona">
      <soap:operation soapAction="http://tempuri.org/IServiceAccountPersona/GetPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiungiPersona">
      <soap:operation soapAction="http://tempuri.org/IServiceAccountPersona/AggiungiPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaPersona">
      <soap:operation soapAction="http://tempuri.org/IServiceAccountPersona/ModificaPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAccountPersona">
    <wsdl:port name="BasicHttpBinding_IServiceAccountPersona" binding="tns:BasicHttpBinding_IServiceAccountPersona">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceAccountPersona/ServiceAccountPersona/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>