esempioWCF-DB/WCFServerManager/WCFServerManager/Connected Services/ServiceReference1/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServerDB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServerDB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContoCorrente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Saldo" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContoCorrente" nillable="true" type="tns:ContoCorrente" />
</xs:schema>