Progetto/WCFServerManager/WCFServerManager/Connected Services/ServiceReferenceServiceMovimenti/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServerDB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServerDB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMovimento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movimento" nillable="true" type="tns:Movimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovimento" nillable="true" type="tns:ArrayOfMovimento" />
  <xs:complexType name="Movimento">
    <xs:sequence>
      <xs:element minOccurs="0" name="IBANBeneficiario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IBANCommittente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dataOra" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idMovimenti" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="importo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movimento" nillable="true" type="tns:Movimento" />
</xs:schema>