esempioWCF-DB/TEST-APP/Connected Services/ServiceReferenceContoCorrente/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB/ServiceContoCorrente/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServerDB" />
  <xs:element name="GetListaContoCorrente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaContoCorrenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="GetListaContoCorrenteResult" nillable="true" type="q1:ArrayOfContoCorrente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectContoCorrente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContoCorrente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectContoCorrenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="SelectContoCorrenteResult" nillable="true" type="q2:ContoCorrente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIBAN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IBAN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIBANResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIBANResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIDConto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContoCorrente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIDContoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIDContoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiContoCorrente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idFiliale" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="saldo" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiContoCorrenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AggiungiContoCorrenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>