esempioWCF-DB/TEST-APP/Connected Services/ServiceReferenceContoCorrente/ServiceContoCorrente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceContoCorrente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB/ServiceContoCorrente/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB/ServiceContoCorrente/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB/ServiceContoCorrente/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServerDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceContoCorrente_GetListaContoCorrente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListaContoCorrente" />
  </wsdl:message>
  <wsdl:message name="IServiceContoCorrente_GetListaContoCorrente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListaContoCorrenteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContoCorrente_SelectContoCorrente_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectContoCorrente" />
  </wsdl:message>
  <wsdl:message name="IServiceContoCorrente_SelectContoCorrente_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectContoCorrenteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContoCorrente_CheckIBAN_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIBAN" />
  </wsdl:message>
  <wsdl:message name="IServiceContoCorrente_CheckIBAN_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIBANResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContoCorrente_CheckIDConto_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIDConto" />
  </wsdl:message>
  <wsdl:message name="IServiceContoCorrente_CheckIDConto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIDContoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContoCorrente_AggiungiContoCorrente_InputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiContoCorrente" />
  </wsdl:message>
  <wsdl:message name="IServiceContoCorrente_AggiungiContoCorrente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiContoCorrenteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContoCorrente_GetIBANByIdContoCorrente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIBANByIdContoCorrente" />
  </wsdl:message>
  <wsdl:message name="IServiceContoCorrente_GetIBANByIdContoCorrente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIBANByIdContoCorrenteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceContoCorrente">
    <wsdl:operation name="GetListaContoCorrente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContoCorrente/GetListaContoCorrente" message="tns:IServiceContoCorrente_GetListaContoCorrente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContoCorrente/GetListaContoCorrenteResponse" message="tns:IServiceContoCorrente_GetListaContoCorrente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectContoCorrente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContoCorrente/SelectContoCorrente" message="tns:IServiceContoCorrente_SelectContoCorrente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContoCorrente/SelectContoCorrenteResponse" message="tns:IServiceContoCorrente_SelectContoCorrente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIBAN">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContoCorrente/CheckIBAN" message="tns:IServiceContoCorrente_CheckIBAN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContoCorrente/CheckIBANResponse" message="tns:IServiceContoCorrente_CheckIBAN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIDConto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContoCorrente/CheckIDConto" message="tns:IServiceContoCorrente_CheckIDConto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContoCorrente/CheckIDContoResponse" message="tns:IServiceContoCorrente_CheckIDConto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggiungiContoCorrente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContoCorrente/AggiungiContoCorrente" message="tns:IServiceContoCorrente_AggiungiContoCorrente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContoCorrente/AggiungiContoCorrenteResponse" message="tns:IServiceContoCorrente_AggiungiContoCorrente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIBANByIdContoCorrente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContoCorrente/GetIBANByIdContoCorrente" message="tns:IServiceContoCorrente_GetIBANByIdContoCorrente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContoCorrente/GetIBANByIdContoCorrenteResponse" message="tns:IServiceContoCorrente_GetIBANByIdContoCorrente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceContoCorrente" type="tns:IServiceContoCorrente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListaContoCorrente">
      <soap:operation soapAction="http://tempuri.org/IServiceContoCorrente/GetListaContoCorrente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectContoCorrente">
      <soap:operation soapAction="http://tempuri.org/IServiceContoCorrente/SelectContoCorrente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIBAN">
      <soap:operation soapAction="http://tempuri.org/IServiceContoCorrente/CheckIBAN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIDConto">
      <soap:operation soapAction="http://tempuri.org/IServiceContoCorrente/CheckIDConto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggiungiContoCorrente">
      <soap:operation soapAction="http://tempuri.org/IServiceContoCorrente/AggiungiContoCorrente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIBANByIdContoCorrente">
      <soap:operation soapAction="http://tempuri.org/IServiceContoCorrente/GetIBANByIdContoCorrente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceContoCorrente">
    <wsdl:port name="BasicHttpBinding_IServiceContoCorrente" binding="tns:BasicHttpBinding_IServiceContoCorrente">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServerDB/ServiceContoCorrente/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>