esempioWCF-DB/WCFServerManager/WCFServerManager/Connected Services/ServiceReferenceServiceMovimenti/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceMovimenti/ServiceMovimenti/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServerDB" />
  <xs:element name="GetListaMovimenti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContoCorrente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaMovimentiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="GetListaMovimentiResult" nillable="true" type="q1:ArrayOfMovimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckImporto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importo" type="xs:decimal" />
        <xs:element minOccurs="0" name="IBANCommittente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckImportoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckImportoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EseguiBonifico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IBANCommittente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IBANBeneficiario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="importo" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EseguiBonificoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EseguiBonificoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EseguiPrelievoDenaro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContoCorrente" type="xs:int" />
        <xs:element minOccurs="0" name="importo" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EseguiPrelievoDenaroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EseguiPrelievoDenaroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EseguiDeposito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContoCorrente" type="xs:int" />
        <xs:element minOccurs="0" name="importo" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EseguiDepositoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EseguiDepositoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>