esempioWCF-DB/TEST-APP/Connected Services/ServiceReferenceFiliale/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceFiliale/ServiceFiliale/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServerDB" />
  <xs:element name="GetFiliale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilialeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="GetFilialeResult" nillable="true" type="q1:Filiale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaDatiFiliale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFiliale" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="nuovaFiliale" nillable="true" type="q2:Filiale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaDatiFilialeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificaDatiFilialeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>