esempioWCF-DB/TEST-APP/Connected Services/ServiceReferenceFiliale/ServiceFiliale.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceFiliale" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceFiliale/ServiceFiliale/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceFiliale/ServiceFiliale/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceFiliale/ServiceFiliale/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServerDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceFiliale_GetFiliale_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiliale" />
  </wsdl:message>
  <wsdl:message name="IServiceFiliale_GetFiliale_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilialeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceFiliale_ModificaDatiFiliale_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificaDatiFiliale" />
  </wsdl:message>
  <wsdl:message name="IServiceFiliale_ModificaDatiFiliale_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaDatiFilialeResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceFiliale">
    <wsdl:operation name="GetFiliale">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFiliale/GetFiliale" message="tns:IServiceFiliale_GetFiliale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFiliale/GetFilialeResponse" message="tns:IServiceFiliale_GetFiliale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaDatiFiliale">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceFiliale/ModificaDatiFiliale" message="tns:IServiceFiliale_ModificaDatiFiliale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceFiliale/ModificaDatiFilialeResponse" message="tns:IServiceFiliale_ModificaDatiFiliale_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceFiliale" type="tns:IServiceFiliale">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFiliale">
      <soap:operation soapAction="http://tempuri.org/IServiceFiliale/GetFiliale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaDatiFiliale">
      <soap:operation soapAction="http://tempuri.org/IServiceFiliale/ModificaDatiFiliale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceFiliale">
    <wsdl:port name="BasicHttpBinding_IServiceFiliale" binding="tns:BasicHttpBinding_IServiceFiliale">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceFiliale/ServiceFiliale/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>