esempioWCF-DB/WCFClient/WCFClient/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCFServerManager/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServerDB" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrivilegiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPrivilegiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaPersone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idFiliale" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaPersoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="GetListaPersoneResult" nillable="true" type="q1:ArrayOfPersona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="CheckUsernameResult" nillable="true" type="q2:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codiceFiscale" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="GetPersonaResult" nillable="true" type="q3:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="persona" nillable="true" type="q4:Persona" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AggiungiPersonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="persona" nillable="true" type="q5:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificaPersonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdFilialeByUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdFilialeByUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdFilialeByUsernameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaContoCorrente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaContoCorrenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="GetListaContoCorrenteResult" nillable="true" type="q6:ArrayOfContoCorrente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectContoCorrente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContoCorrente" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectContoCorrenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="SelectContoCorrenteResult" nillable="true" type="q7:ContoCorrente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIBAN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IBAN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIBANResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIBANResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIDConto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContoCorrente" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIDContoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIDContoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiContoCorrente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idFiliale" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="saldo" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AggiungiContoCorrenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AggiungiContoCorrenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIBANByIdContoCorrente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContoCorrente" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIBANByIdContoCorrenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIBANByIdContoCorrenteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiliale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilialeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="GetFilialeResult" nillable="true" type="q8:Filiale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaDatiFiliale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFiliale" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="nuovaFiliale" nillable="true" type="q9:Filiale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaDatiFilialeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificaDatiFilialeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameFiliale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFiliale" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameFilialeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNameFilialeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaMovimenti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContoCorrente" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListaMovimentiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFServerDB" minOccurs="0" name="GetListaMovimentiResult" nillable="true" type="q10:ArrayOfMovimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckImporto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importo" type="xs:decimal" />
        <xs:element minOccurs="0" name="IBANCommittente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckImportoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckImportoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EseguiBonifico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IBANCommittente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IBANBeneficiario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="importo" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EseguiBonificoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EseguiBonificoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EseguiPrelievoDenaro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContoCorrente" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="importo" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EseguiPrelievoDenaroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EseguiPrelievoDenaroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EseguiDeposito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContoCorrente" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="importo" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EseguiDepositoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EseguiDepositoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>